@page
@model MovieRamaWeb.Pages.MovieSubmitModel
@{
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieTitle" class="control-label"></label>
                <input asp-for="MovieTitle" class="form-control" />
                <span asp-validation-for="MovieTitle" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="MovieDescription" class="control-label"></label>
                <input asp-for="MovieDescription" class="form-control" />
                <span asp-validation-for="MovieDescription" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div class="row">
    <a asp-page="./Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
